.not-found-page {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.not-found-page h1 {
    font-size: 6rem;
    margin: 0;
}

.not-found-page h2 {
    font-size: 2rem;
    margin: 0 0 10px;
}

.not-found-page p {
    color: #666;
    margin-bottom: 20px;
}